body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 10px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.app-wrapper {
  background-color: black;
}

.true-theme {
  background-color: white;
}

.false-theme {
  background-color: cornflowerblue;
}

.image-wrapper{
  border-radius: 50%;
  width: 100px;
  height: 100px;
}